#why > p {

	color:#ff3421;
}

#why > h2 {

	color:#ffdddd;
}

#what > h2 {

	color:#ffdddd;	
}

#what > p {

	color:#ff3421;
}

#how > h2 {

	color:#ffdddd;	
}

#head > h2 {

	color:#ffdddd;
}

#how > h4 {

	color:#ff3421;
}


